.parent{
  width: 600px;
}


.left{
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
  position: absolute;
    top: 20%; left: 0%; right: 50%
}

.display-section{
  background-color: rgb(90, 160, 160);
  width: 50vw;
}
.questionnaire{
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 80%
}

.sec-1{
  background-color: rgb(148, 148, 221);
}

.sec-2{
  background-color: rgb(151, 221, 194);
}

.rigth{
  width: 400px;
  height: 511px;
  background-color: burlywood;
  position: absolute;
    top: 0%; left: 100%; right: -50%
}

.bold{
  font-weight: 600;
  text-decoration: underline;
}

.controls{
  display:flex;
  flex-direction: column;
  height: 150px;
  margin:5%;
  padding: 2%;
}

.cases{
  background-color:coral;
  width: 800px;
  height: 50vh;
  position: absolute;
  top: 80%; left: 0%; right: 0%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 2px;

}

.case{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: cornsilk;
  height: 80%;
  padding: 5%;
}

.small{
  font-size: .8em;
  margin: 0%;
  padding: 0%;
}
